<html>
  <head>
    <title> Todo app  </title>
    <link href="/styles.css" rel="stylesheet">
  </head>
<body>
	<div class="container">
	    <h2> Simple Todo app </h2>
			<form action ="/addtask" method="POST">
	       		<input type="text" name="newtask" placeholder="add new task">
	       		<button> Add Task </button>
	    		<h2> Added Task </h2>
	    		<% for( var i = 0; i < uncompleted.length; i++){ %>
			    <li><input type="checkbox" name="check" value="<%= uncompleted[i].title %>" /> <%= uncompleted[i].title %></li>
			    <% } %>
	    		<button formaction="/removetask" type="submit"> Remove </button>
	    	</form>
	    <h2> Completed task </h2>
	     <% for(var i =0; i < completed.length; i++){ %>
	     	<li><input type = "checkbox" checked><%= completed[i].title %> </li>
	     <% } %>
	</div>
</body>
</html>